.portfolio{
    max-width: 300px;
}

.carousel-item {
    max-width: 900px;
    height: auto;
    max-height: 800px;

}
.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2rem;
}
main,
header,
footer,
body{
    background-color: black;
    color: white;
}

html,
body
{
    min-height: 100%;
}

main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 95vw;
    text-align: center;
}

.portfolioMain {
    align-items: center;
    gap: 20px;
}

/* @media only screen and (max-width: 1000px) {

  } */

.navbar-toggler{
    color: blue;
    align-items: baseline;
}
.navbar-toggler-icon{
    color: blue;
}

.formBox {
    /* padding-bottom: 20%; */
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 65px - 70px);

}